<h2 style="background-color:aquamarine ;">WELCOME TO CGI</h2>
<section>
  
  <form #myform="ngForm">
    <h2 style="text-align: center;"> LOGIN FORM</h2>
    <label for=""> ENTER YOUR  NAME</label>
    <input type="text" ngModel #fform="ngModel" name="username" class="form-control" minlength="6" required="required" ><br>
    <div *ngIf="fform.touched && fform.invalid && fform.errors.required" class="alert alert-danger">* USER NAME IS REQUIRED</div>
   

    <label for=""> ENTER YOUR  PASSWORD</label>
    <input type="text" ngModel #fpsw="ngModel" name="password" class="form-control" placeholder="password" required="required" ><br>
    <div *ngIf="fpsw.touched && fpsw.invalid && fpsw.errors.required" class="alert alert-danger"> * PASSWORD  IS REQUIRED</div>
    <input type="submit" value="login" (click)="onclick(myform)" class="btn btn-success"><br><br>
    <h2><span style="color: red;"> {{msg}} </span></h2>

  </form>
</section>