h2{
    text-align: center;
}
section{
    background: rgb(233, 233, 233);
      background: radial-gradient(circle, rgba(233, 233, 233, 1) 0%, rgba(138, 255, 251, 1) 100%);
    height: 500px;
    margin: 0%;
}
form{
    background-color: #f0f1f2;
    width: fit-content;
    margin-left: 30%;
    padding-top: 1%;
    text-align: left;
    padding: 5%;
    border: 5px solid brown;
    border-radius: 25px;
}
input[type="text"]:hover{
    background-color: yellow;
   }
   input[type="password"]:hover{
    background-color: chartreuse;
   }
    input[type="submit" ]:hover{
        background-color: brown;

    }